<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
		<connectionStrings> 
			<add name = "projetbdd3ConStr" connectionString = "Data Source = localhost\SQLEXPRESS; Initial Catalog = projetbdd3; Persist Security Info = True; User ID = adminetu; Password = $d3tu,D$n" providerName = "System.Data.SqlClient"/> 
		</connectionStrings>
  </system.web>
</configuration>
